<!DOCTYPE html>
<html>

    <head>
        <!--Meta tags-->
        <meta charset="utf-8">
        <!--Optimization for mobile + web-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--Google Icon Link-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Materialize Link-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="css/give.css">

        <!--Remove 404 error-->
        <link rel="shortcut icon" href="#">
        <title>Page 1</title>
    </head>
    <body>
        <div class="rowM">
            <div class="columnM">Name</div>
            <div class="columnM">Disease</div>
            <div class="columnM">Severity</div>
            <div class="columnM">Funding</div>
            <div class="columnM">Donation Link</div>
        </div>
        {% for a,b in raisers.items() %}
        <div class="rowM">
            <div class="columnM">{{ b["Name"] }}</div>
            <div class="columnM">{{ b["Disease"] }}</div>
            <div class="columnM">{{ b["Severity"] }}</div>
            <div class="columnM">{{ b["FundingDone"] }}/{{ b["FundingTarget"] }}</div>
            <div class="columnM"><a href="{{ b['URL'] }}">aa</a></div>
        </div>
        {% endfor %}
        <!--JavaScript & JQuery CDN links at end of body for optimized loading-->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    </body>

</html>