<!DOCTYPE html>
<html>
    <head>
        <!--Meta tags-->
        <meta charset="utf-8">
        <!--Optimization for mobile + web-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--Google Icon Link-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Materialize Link-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="css/index.css">
        <!--Remove 404 error-->
        <link rel="shortcut icon" href="#">
        <title>Home</title>
    </head>
    <body>
        <div class="vptop ch-center">
            <a href="Give"><button id="give">Support The Needy</button></a>
            <a href="Get"><button id="get">Get Medical Aid</button></a>
            <a href="raise">Start A Fundraiser</a>
        </div>

        <!--JavaScript & JQuery CDN links at end of body for optimized loading-->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    </body>

</html>