<!DOCTYPE html>
<html>

    <head>
        <!--Meta tags-->
        <meta charset="utf-8">
        <!--Optimization for mobile + web-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--Google Icon Link-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Materialize Link-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="css/get.css">
        <!--Remove 404 error-->
        <link rel="shortcut icon" href="#">
        <title>Page 1</title>
    </head>
    <body>
        <div class="vptop ch-center">
            <form action="startfund" method="post">
                <div class="input-field inline">
                    <label for="usernInput">Name</label>
                    <input type="text" name="Name" id="usernInput">
                </div>
                <div class="input-field inline">
                    <label for="usernInput">Disease</label>
                    <input type="text" name="Disease">
                </div>
                <div class="input-field inline">
                    <label for="patientnInput">Severity</label>
                    <input type="text" name="Severity">
                </div>
                <div class="input-field inline">
                    <label for="patientdobInput">Funding Target</label>
                    <input type="text" name="FundingTarget">
                </div>
                <div class="input-field inline">
                    <button type="submit" class="waves-effect waves-light btn-large">Start</button>
                </div>
            
            </form>
        </div>
        <!--JavaScript & JQuery CDN links at end of body for optimized loading-->
        <script src="js/get.js"></script>
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    </body>

</html>